##### First Block - Imports

In [1]:
from Functions.readFiles import read_heavy_file
from Functions.mysqlConnectionDB import mysql_db_connection
from Functions.mysqlConnectionDB import create_table_mysql_db
from Functions.mysqlConnectionDB import insert_data_mysql_db
from Functions.mysqlConnectionDB import close_mysql_connection

##### Second Block - Read the heavy file

In [2]:
df_data = read_heavy_file()

Proceso: Archivo leido correctamente!
Proceso: primeros 20 registros obtenidos

##### Third Block - Connect to Mysql data base

In [3]:
mysql_connection = mysql_db_connection()

Proceso: Conexión exitosa a la base de datos!

##### Fourth Block - Create table in Mysql data base

In [4]:
table_name = "heavy_logs_timba"
df_data_columns = df_data.columns

#print(f"Proceso: ",data_columns)

columns_to_list = df_data_columns.to_list()
#print(f"Proceso: ",columns_to_list)
#print(type(columns_to_list))

script_create_table = create_table_mysql_db(mysql_connection, table_name, columns_to_list)

Proceso: La tabla heavy_logs_timba ya existe.

##### Fifth Block - Data insert in MySQL DB

In [5]:
script_insert_data = insert_data_mysql_db(mysql_connection, table_name, columns_to_list, df_data)

Proceso: Datos insertados correctamente en la tabla heavy_logs_timba.
Total de inserciones procesadas: 20

##### Sixth Block - Close de MySQL Database connection

In [6]:
close_mysql_db_connection = close_mysql_connection(mysql_connection)

Conexión cerrada